.console-box{width: 800px;margin: 0 auto;text-align: left;color: #FFF;display: inline-block;padding-bottom: 30px;}
.console-box a{color: #FFF;text-decoration: none;}
.console-box .cb-list{width: 390px;margin: 10px 10px 0px 0px;border-radius: 5px;padding: 0px;float: left;}
.console-box .cb-list:hover{margin:8px 10px 2px 0px;}
.console-box .cb-list-plus{text-align: center;}
.console-box .cb-list-plus .fa {
    width: 100%;height: 100%;
    text-align: center;
    line-height: 100%;
    border-radius: 5px;
    font-size: 3em;
    color: #76C2FF;background: #219CFF;
    margin: 0 auto;
    cursor: pointer;
}


/**
background: #219CFF;
#0081E8;
048BF7
219CFF
 */
.console-box .cb-list .cb-list-title{font-weight: bold;border-radius: 5px 5px 0px 0px;background: #219CFF;padding: 15px 15px 5px 15px;}
.console-box .cb-list .cb-list-text{background: #219CFF;padding: 0px 10px 0px 10px;font-size: 12px;line-height: 16px;

}
.console-box .cb-list .cb-list-but{border-radius: 0px 0px 5px 5px;background: #219CFF;padding: 15px 15px 5px 15px;font-size: 12px;}
.console-box .cb-list .cb-list-but a{float: right;margin-right: 4px}
.console-box .cb-list .cb-list-but i{padding-left: 2px;padding-right: 2px;}


.api-doc-list {
    margin: 0px;
    padding: 0px 15px 0px 0px;
}



.api-doc-list p {
    margin: 0px 0px 5px 0px;
}


.api-doc-list-title {
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}

.api-doc-list-text {
    font-size: 14px;
    width: 100%;
    background: none;
    border: 0;
    resize: none;
    margin-bottom: 5px;
}

.api-doc-list-row {
    min-height: 15px;
    margin-top: 5px;
    width: 100%;
}

.api-doc-list-box {
    height: auto;
    border-radius: 5px;
    margin: 5px 0 10px 0px;
    padding: 10px;
    background: #219CFF;
}

.api-doc-list-box:hover {
    box-shadow:5px 2px 6px #2A89D7;
}

.span-right{float: right;padding-right: 5px;}