body {padding: 40px;}
#layout {
  margin-left: 400px;
}
#layout > header, .btns {
  width: auto;
}

#sidebar {
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*overflow: hidden;*/
  overflow-x: auto;
  background: #fff;
  z-index: 100;
  padding: 18px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
}

#sidebar:hover {
  /*overflow: auto;*/
}

#sidebar h1 {
  font-size: 16px;
}

#custom-toc-container {
  padding-left: 0;
}

#test-editormd-view, #test-editormd-view2 {
  padding-left: 0;
  padding-right: 430px;
  margin: 0;
}

#sidebar .title{
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #000;
}
#sidebar .sidebar-submit{
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  height: 25px;
  text-indent: 3px;
  margin: 0 auto 10px auto;
}
#sidebar .sidebar-submit input{
  background: none;
  border: 0px;
  width: 170px;
  height: 23px;
  color: #000;
  text-indent: 4px;
}


#nav-tabs{width: 70%;margin: 20px auto;}
#nav-tabs ul{
  list-style: none;overflow: hidden;
}
#nav-tabs #nav{
  width: 400px;height: 40px;text-align: center;line-height: 40px;
  background: #c5c5c5;
}
#nav-tabs #nav li{
  width: 25%;height: 40px;float: left;border: 1px solid #c5c5c5;
  border-bottom: none;
}
#nav-tabs #nav li.active{
  background: #fff;
}
#nav-tabs #content{
  width: 400px;height: 300px;position: relative;border: 1px solid #c5c5c5;border-top: none;
}
#nav-tabs #content li{width: 100%;height: 100%;position: absolute;padding: 10px;display: none}