* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden,.requestDatabase {
    display: none;
}

.ant_side .selected {
    background: #1890ff;
}

.ant_side .selected a {
    color: white;
}

.wrapper {
    display: flex;
}

.ant_side {
    min-width: 250px;
    background: #001529;
    overflow: auto;
}

.logo {
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    line-height: 100px;
}

.logo a {
    color: white;
}

.ant_side li {
    padding: 10px 0;
}

.search {
    width: 80%;
    margin: 0 auto;
}

.search input {
    width: 100%;
    height: 30px;
    text-indent: 10px;
}
.close{
    width: 20px;
    height: 20px;
    border: 1px;
    border-radius: 10px;
    margin-top: 7px;
    margin-right: 3px;
}

.ant_side li:hover {
    color: white;
}

.ant_side li a {
    display: block;
    margin: 0 25px 0 27px;
    color: #ccc;
    font-weight: bold;
    font-size: 14px;
}

.ant_side li .menu {
    line-height: 15px;
}

.ant_side li > ul a {
    margin-left: 45px;
}

.ant_side li > ul ul a {
    margin-left: 65px;
}

.ant_side li > ul li ul li ul li a {
    margin-left: 85px;
}

.ant_side li > ul li ul li ul li ul li a {
    margin-left: 105px;
}

.ant_side a:hover {
    color: #fff;
}

.ant_side .pull_down {
    float: right;
}

.ant_layout {
    width: 100%;
    min-height: 1000px;
}

.layout_header {
    height: 100px;
    background: yellow;
}

.layout_content {
    margin: 20px;
    font-size: 14px;
    color: #333;
}

.layout_content > div:after {
    content: "";
    display: block;
    clear: both;
}

.row2, .row4 {
    width: 98%;
    margin: 0 1% 0 1%;
    height: 600px;
    background: blue;
    min-width: 600px;
}

.row3 > div {
    width: 48%;
    min-width: 600px;
    height: 300px;
    margin: 2% 1% 2% 1%;
    background: red;
    float: left;
}

.layout_footer {
    height: 200px;
    background: greenyellow;
}


@media screen and (max-width: 1500px) {
    .row1 > div {
        width: 48%;
        margin: 2% 1% 2% 1%;
    }

    .row3 > div {
        width: 98%;
        margin: 2% 1% 2% 1%;
    }
}

@media screen and (max-width: 1200px) {
    .logo a, .ant_side > ul > li > a > span {
        display: none;
    }

    .ant_side li > ul {
        display: none;
        border-radius: 5px;
        position: absolute;
        background: #001529;
    }

    .ant_side li:hover > ul {
        display: block;
        width: 250px;
    }

    .ant_side > ul > li > ul {
        top: 100px;
        left: 100px;
    }

    .ant_side > ul > li > ul ul {
        left: 250px;
        top: 100px;
    }

    .ant_side {
        min-width: 100px;
    }
}

@media screen and (max-width: 800px) {
    .ant_side {
        display: none;
    }

    .ant_layout {
        margin: 0;
    }
}

@media screen and (max-width: 450px) {
    .row1 > div {
        width: 98%;
        margin: 2% 1% 2% 1%;
    }
}


table {
    border-collapse: collapse;
}

/*td{min-height:22px;min-width:80px;border:1px solid #CCC;}*/


table th, td {
    text-align: left;
    max-width: 1024px;

}

table th {
    height: 40px;
    color: #000
}

table td {
    line-height: 25px;
}

h4 {
    height: 40px;
    line-height: 40px;
    color: #000
}

.table01 td {
    text-indent: 20px;
}

.tableHidden {
    display: none;
}

.table01 {
    border: 1px solid #fff;
    width: 90%;
}

.table02 {
    border: 1px solid #CCC;
    width: 90%;
}

.table02, .table03 td {
    line-height: 30px;
    text-indent: 10px;
}

.table02 td {
    border: 1px solid #ccc;
}

.table03 td {
    border: 1px solid #ccc;
}

.table02 td:hover, .table03 td:hover {
    background: #f0f0f0
}

.table02 tr td:nth-child(1) {
    width: 200px;
}

.table02 tr td:nth-child(2) {
    width: 80px;
}

.table02 tr td:nth-child(3) {
    width: 60px;
}

.table02 tr td:nth-child(4) {
    width: 270px;
}

.table02title {
    border: 0px;
}

.json-renderer {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px 10px 10px 20px;
    margin-bottom: 15px;
    margin-top: 5px;
}


.table03 {
    border: 1px solid #ccc;
    width: 400px;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.table03 tr td:nth-child(1) {
    width: 100px;
}

.table03 tr td:nth-child(2) {
    width: 300px;
}
.showRequest{cursor: pointer;}














@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?rretjt');
    src: url('../fonts/icomoon.eot?#iefixrretjt') format('embedded-opentype'),
    url('../fonts/icomoon.woff?rretjt') format('woff'),
    url('../fonts/icomoon.ttf?rretjt') format('truetype'),
    url('../fonts/icomoon.svg?rretjt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {

    font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

a:hover, a:focus {
    color: #74777b;
    text-decoration: none;
}

.htmleaf-container {
    margin: 0 auto;
}

.bgcolor-1 {
    background: #f0efee;
}

.bgcolor-2 {
    background: #f9f9f9;
}

.bgcolor-3 {
    background: #e8e8e8;
}

/*light grey*/
.bgcolor-4 {
    background: #2f3238;
    color: #fff;
}

/*Dark grey*/
.bgcolor-5 {
    background: #df6659;
    color: #521e18;
}

/*pink1*/
.bgcolor-6 {
    background: #2fa8ec;
}

/*sky blue*/
.bgcolor-7 {
    background: #d0d6d6;
}

/*White tea*/
.bgcolor-8 {
    background: #3d4444;
    color: #fff;
}

/*Dark grey2*/
.bgcolor-9 {
    background: #ef3f52;
    color: #fff;
}

/*pink2*/
.bgcolor-10 {
    background: #64448f;
    color: #fff;
}

/*Violet*/
.bgcolor-11 {
    background: #3755ad;
    color: #fff;
}

/*dark blue*/
.bgcolor-12 {
    background: #3498DB;
    color: #fff;
}

/*light blue*/
.bgcolor-20 {
    background: #494A5F;
    color: #D5D6E2;
}

/* Header */
.htmleaf-header {
    padding: 1em 190px 1em;
    letter-spacing: -1px;
    text-align: center;
    background: #66677c;
}

.htmleaf-header h1 {
    color: #D5D6E2;
    font-weight: 600;
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0;
}

.htmleaf-header h1 span {
    display: block;
    font-size: 60%;
    font-weight: 400;
    padding: 0.8em 0 0.5em 0;
    color: #c3c8cd;
}

/*nav*/
.htmleaf-demo a {
    color: #fff;
    text-decoration: none;
}

.htmleaf-demo {
    width: 100%;
    padding-bottom: 1.2em;
}

.htmleaf-demo a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.6em 1em;
    border: 3px solid #fff;
    font-weight: 700;
}

.htmleaf-demo a:hover {
    opacity: 0.6;
}

.htmleaf-demo a.current {
    background: #1d7db1;
    color: #fff;
}

/* Top Navigation Style */
.htmleaf-links {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 1.5em;
    text-align: center;
}

.htmleaf-links::after {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #dbdbdb;
    content: '';
    -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
    transform: rotate3d(0, 0, 1, 22.5deg);
}

.htmleaf-icon {
    display: inline-block;
    margin: 0.5em;
    padding: 0em 0;
    width: 1.5em;
    text-decoration: none;
}

.htmleaf-icon span {
    display: none;
}

.htmleaf-icon:before {
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

/* footer */
.htmleaf-footer {
    width: 100%;
    padding-top: 10px;
}

.htmleaf-small {
    font-size: 0.8em;
}

.center {
    text-align: center;
}

/****/
.related {
    color: #fff;
    background: #494A5F;
    text-align: center;
    font-size: 1.25em;
    padding: 0.5em 0;
    overflow: hidden;
}

.related > a {
    vertical-align: top;
    width: calc(100% - 20px);
    max-width: 340px;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

.related a {
    display: inline-block;
    text-align: left;
    margin: 20px auto;
    padding: 10px 20px;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
    opacity: 1;
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
    border-radius: 4px;
}

.related a:hover img,
.related a:active img {
    opacity: 1;
}

.related h3 {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 1.2em
}

.related a h3 {
    font-size: 0.85em;
    font-weight: 300;
    margin-top: 0.15em;
    color: #fff;
}

/* icomoon */
.icon-htmleaf-home-outline:before {
    content: "\e5000";
}

.icon-htmleaf-arrow-forward-outline:before {
    content: "\e5001";
}

@media screen and (max-width: 1024px) {
    .htmleaf-header {
        padding: 2em 10% 2em;
    }

    .htmleaf-header h1 {
        font-size: 1.4em;
    }

    .htmleaf-links {
        font-size: 1.4em
    }
}

@media screen and (max-width: 960px) {
    .htmleaf-header {
        padding: 2em 10% 2em;
    }

    .htmleaf-header h1 {
        font-size: 1.2em;
    }

    .htmleaf-links {
        font-size: 1.2em
    }

    .related h3 {
        font-size: 1em;
    }

    .related a h3 {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 766px) {
    .htmleaf-header h1 {
        font-size: 1.3em;
    }

    .htmleaf-links {
        font-size: 1.3em
    }
}

@media screen and (max-width: 640px) {
    .htmleaf-header {
        padding: 2em 10% 2em;
    }

    .htmleaf-header h1 {
        font-size: 1em;
    }

    .htmleaf-links {
        font-size: 1em
    }

    .related h3 {
        font-size: 0.8em;
    }

    .related a h3 {
        font-size: 0.6em;
    }
}
