.row:first-of-type {
    margin-top: 50px;
}
.row > div {
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 0px 10px 0px 0px;
}
.doc-table-box{
    width: 92%;
    margin: 0 auto;
}
.doc-table-box li{
    list-style-type: none;
    border:1px solid #ccc;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 1px;
}
.doc-table-box li:last-child{
}
.doc-table-box li:last-of-type{
}
.doc-table-box li ul{
    margin-left: -1px;
    min-height: 30px;
    display: none;
}
.doc-table-box li ul .doc-t-line .key{
    border-left: 1px solid #ccc;
    margin-left: 25px;
}
.doc-table-box .doc-select-ul{
    margin-left: 0px;
}
.doc-table-box .doc-select-ul li{
    border: 0px;
}
.doc-table-box li .key{
    min-height: auto;
    width: 200px;
    height: 16px !important;
    border-right: 1px solid #ccc;
}

.doc-table-box li .key:nth-of-type(2) {
    width: 300px;
    padding-left: 10px;
    border-right: 0px solid #ccc;
}

.doc-table-box .doc-table{
    min-width: 810px;
    margin-bottom: 20px;
}
.doc-table-box .doc-table .header{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.doc-table-box .doc-table .header .title {
    width: 150px;
    height: 100%;
    line-height: 28px;
    border-left: 3px solid #2196F3;
    padding-left: 5px;
    font-weight: bold;
    float: left;
}
.doc-table-box .ui-sortable-placeholder{
    background: #2196F3;
}
.doc-table-box .doc-table .header .title {
    width: 70%;
}
.doc-table-box .doc-table .header .title .ti-name {
    padding-right: 10px !important;
    max-width: 70%;
    height: 30px;
    overflow:hidden;
}
.doc-table-box .doc-table .header .title .tn-edit {
    padding-right: 50px !important;
    background-color: #00000005;
    line-height: 25px !important;
    height: 25px;
    display: inline-flex;
}
.doc-table-box .doc-table .else {
    color: #dddddd;
    line-height: 30px;
    float: left;
    padding-right: 10px;
}
.doc-table-box .doc-table .else-right {
    color: #000;
    line-height: 28px;
    float: right;
    padding-right: 10px;
}
.doc-table-box .doc-table .else-right .bi{
    vertical-align: middle;
    margin-top: -2px;
    height: 23px;
}

.combobox-simple .combobox-show {
    border: 1px solid #fff0;
}
.combobox-simple .combobox-box {
    border: 1px solid #fff0;
}
.doc-t-line .combobox-simple {
    width: 80px;
}
.combobox-simple {
    width: 80px;
}
.doc-table-box .doc-table .doc-t-line i.bi.bi-plus, .doc-table-box .doc-table .doc-t-line i.bi.bi-x {
    display: inline-block;
}

.doc-table-box li .doc-t-line {
}
.doc-table-box li {
    height: 30px;
    line-height: 30px;
    padding-right: 5px;
}
.doc-table-box li:hover {
    background:#00000005;
}
.doc-table-box li .bi {
    vertical-align: middle;
    margin-top: -2px;
}
.doc-table-box li .bi.bi-x {
    display: none;
    float: right;
    margin-top: 2px;
}
.doc-table-box .mandatory {
    margin-top: -2px;
}

.doc-table-box .doc-table .header .title .bi{
    vertical-align: middle;
    margin-top: -3px;
    height: 23px;
    display: none;
}
.doc-table-box .ui-sortable-helper{
    border-bottom: 1px solid #ddd;
}
.doc-table-ul {
    min-height: 25px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.doc-table-ul:last-of-type {
    border-bottom: 1px solid #ddd;
}
.sortable-submit {
    display: none;
}
.doc-table-box .doc-table .header {
    border-bottom: 1px solid #ccc;
}
.doc-table-box li:first-of-type {
    border-top: 0px;
}

.paginate {
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-top: 0px;
    text-align: right;
    padding-left: 5px;
}
.paginate span {
    padding: 5px 7px 5px 7px;
    cursor: pointer;
}
.paginate span.active {
    background: #00000005;
}
.paginate span:hover {
    background: #00000005;
}

.dialog{
    top:0;
}

.doc-table-paginate{
    width: 92%;
    margin: 0 auto 50px auto;
    border: 0px;
}