
input[type="checkbox"]:checked {
    background-position: -48px 0;
    margin-top: -2px;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    background: #fff url(../img/c.png);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.mCSB_container {
    min-height: 100%;
}
:focus {
    outline: 0 !important;
}
input::-moz-focus-inner {
    border-color: transparent !important;
}
label {
    display: inline-flex;
    margin-bottom: 0px;
    font-weight: unset;
}
input[type="radio"], input[type="checkbox"] {
}
.doc-head-row{
    min-width: 800px;
    height: auto !important;
    margin-bottom: 10px;
}
.doc-head-row .col-md-9{
    padding: 0px;
}
.doc-head-row .row {
    margin-left:0px;
    margin-right: 0px;
}
.doc-head-row .row .doc-select .doc-select-show .text {
    display: -webkit-box;
}
.doc-head-row .row .col-md-3{
    padding-right: 25px;
}
.doc-head-row .row .col-md-3:first-child {
    padding-left: 0px;
}
.doc-row {
    width: 100%;
    margin: 0px auto 10px auto;
}
.doc-row .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
}

.doc-row .doc-method-url {
    width: 100%;
    display: table;
    border-bottom: 1px solid #ccc;
}
.doc-row .doc-method-url .text,.doc-table .doc-select-ul li,.doc-head-row .doc-select-ul li{
    padding-left: 5px;
}
.doc-head-row .col-md-3 .doc-select-ul li ul li{
    padding-left: 15px;
}
.doc-row .doc-method-url .doc-select-box {
     top: 98%;
 }
.doc-row .doc-method-url .doc-method {
    width: 80px;
    display: table-cell;
    border-bottom: 0px;
}
.doc-row .doc-method-url .doc-url {
    width: 100%;
    height: 33px;
    display: table-cell;
    border: 0px;
}

.doc-row .intro {
    width: 100%;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    max-height: 90px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    resize:vertical;
    padding-left: 5px;
}

.doc-table-box{
    width: 92%;
    margin: 0 auto;
}

.doc-table-box li{
    list-style-type: none;
    border:1px solid #ccc;
    border-bottom: 0px;
    padding-left: 1px;
}
.doc-table-box li:last-child{
    border-bottom: 1px solid #ccc;
}
.doc-table-box li ul{
    margin-left: -2px;
    min-height: 30px;
    display: none;
}
.doc-table-box li .doc-t-line{
}

.doc-table-box li ul .doc-t-line .key{
    border-left: 1px solid #ccc;
    margin-left: 25px;
}
.doc-table-box li ul li ul .doc-t-line .key{
    margin-left: 50px;
}
.doc-table-box li ul li ul li ul .doc-t-line .key{
    margin-left: 75px;
}
.doc-table-box li ul li ul li ul li ul .doc-t-line .key{
    margin-left: 100px;
}
.doc-table-box li ul li ul li ul li ul li ul .doc-t-line .key{
    margin-left: 125px;
}
.doc-table-box .doc-select-ul{
    margin-left: 0px;
}
.doc-table-box .doc-select-ul li{
    border: 0px;
}
.doc-table-box ul li ul li{
    border: 0px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 0px !important;
}

.doc-table-box li .doc-t-line,.doc-table-box li .key,.doc-table-box li input.value,.doc-table-box li .description{
    min-height: 30px;
    border: 0px;
    background: #fff0;
}
.doc-table-box li .key{
    height: 16px !important;
    min-height: auto;
    width: 200px;
    padding-left: 10px;
    border-right: 1px solid #ccc;
}
.doc-table-box li .doc-t-line{
    width: 100%;
    display: table;
    padding-left: 3px;
}
.doc-table-box li .doc-t-line:hover{
    background-color: #00000005;
}

.doc-table-box .del{
    padding: 4px 5px 3px 5px;
    font-size: 15px;
}
.doc-table-box li input.value{
    height: 16px !important;
    min-height: auto;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.doc-table-box .doc-table{
    min-width: 810px;
    margin-bottom: 21px;
}

.doc-table-box .doc-table .header{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.doc-table-box .doc-table .header .title {
    width: 150px;
    height: 100%;
    line-height: 30px;
    border-left: 3px solid #2196F3;
    padding-left: 5px;
    font-weight: bold;
    float: left;

}
.doc-table-box .doc-table .header .edit {
    line-height: 30px;
    color:#2196F3;
    height: 100%;
    float: left;
}
.doc-table-box .doc-table .header .edit span {
    cursor: pointer;
}
.doc-table-box .doc-table .header .edit i.bi {
    height: 25px;
    vertical-align: middle;
    margin-top: -3px;
}
.doc-table-box .doc-table .header .edit-tips i {
    padding: 2px !important;
    background: #fff0 !important;
}
.doc-table-box .doc-table .header .edit-tips span:hover {
    cursor: pointer;
    background: #f7f7f7;
    border-radius: 3px;
    padding: 0px 4px 0px 4px;
}
.doc-table-box .doc-table .bulk_edit {
    width: 100%;
    height: 200px;
    min-height: 100px;
    max-height: 600px;
    resize: vertical;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: 0px;
    padding: 5px;
    color: #686868;
    display: none;
}
.doc-table-box .doc-table .bulk_edit.content {
    min-height: unset;
    max-height: unset;
}
.doc-table-box .doc-table .response {
    display: block;
}

.doc-table-box .doc-table .header .raw {
    height: 100%;
    line-height: 30px;
    display: unset;
    cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    color:#2196F3;
    margin-left: 30px;
}
.doc-table-box .doc-table .header .raw-tips {
    height: 100%;
    line-height: 30px;
    display: none;
    color:#686868;
}
.doc-table-box .doc-table .header .raw-tips i {
    padding: 2px !important;
    background: #fff0 !important;
}
.doc-table-box .doc-table .header .raw-tips span:hover {
    cursor: pointer;
    background: #f7f7f7;
    border-radius: 3px;
    padding: 0px 4px 0px 4px;
}
.doc-table-box .doc-table .raw_edit {
    width: 100%;
    height: 200px;
    min-height: 100px;
    max-height: 600px;
    resize: vertical;
    border: 1px solid #ccc;
    border-top: 0px;
    padding: 5px;
    color: #686868;
    display: none;
}



.doc-table-box .doc-table i {
}
.doc-table-box .doc-table .edit i {
    color: #ccc;
    height: 16px;
    vertical-align: sub;
}
.doc-table-box .doc-table i.add-li {
    /*margin-right: 5px;*/
}
.doc-table-box .doc-table .dtl-input,
.doc-table-box .doc-table .key,
.doc-table-box .doc-table .doc-type,
.doc-table-box .doc-table .value,
.doc-table-box .doc-table .doc-input-edit {
    display: inline-block;
}
.doc-table-box .doc-table i.fa-arrows,
.doc-table-box .doc-table .fa-plus,
.doc-table-box .doc-table .bi-x,
.doc-table-box .doc-table .bi-plus,
.doc-table-box .doc-table .fa-times {
}

.doc-table-box .ui-sortable-placeholder{
    background: #2196F3;
}

.doc-table-box .add-ul{
    cursor: pointer;
}
.doc-table-box .doc-type{
    width: 100px;
}

.doc-table-box .mandatory{
    margin-top: -1px;
}

.doc-table-box .doc-description{
    width: 300px;
    height: 20px;
    margin-top: 0px;
    max-height: 200px;
    max-width: 300px;
    display: inline-block;
    border: 0px;
    resize: none;
    background: #fff0;
    padding-right: 15px;
    padding-top: 2px;
}

.doc-table-box .doc-select .doc-select-show {
    width: 100%;
    height: 100%;
}
.doc-table-box .text{
    width: 100%;
    height: 20px;
    border: 0px;
    line-height: unset !important;
    padding: 0px !important;
    padding-left: 5px !important;
    overflow: inherit;
}

.doc-table-box .doc-select-box {
    display: none;
    border-top: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
}
.doc-table-box .doc-select {
    height: 100%;
    border-bottom: 0px;
}
.doc-table-box .doc-select .doc-select-show {
    border: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.doc-table-box .doc-select .doc-select-show .caret {
    top: 10px;
}
.doc-table-box div.doc-table ul.doc-table-ul.ui-sortable li div.doc-t-line div.doc-select.doc-type div.doc-select-box ul.doc-select-ul.mCustomScrollbar._mCS_5.mCS-autoHide{
    margin-left: 0px !important;
}
.doc-table-box div.doc-table ul.doc-table-ul.ui-sortable li div.doc-t-line div.doc-select.doc-type div.doc-select-box ul.doc-select-ul.mCustomScrollbar._mCS_5.mCS-autoHide li{
    border: 0px;
}
.mCustomScrollBox {
    width: 100%;
}

.doc-table-box li .doc-input-edit{
    width: 200px;
}
.doc-table-box li .doc-input-edit .bi-edit{
    display: none;
}

.doc-table-box li .doc-input-edit .doc-input-edit-text{
    width: 176px;
    height: 20px;
    padding-top: 2px;
    min-height: unset !important;
    resize: none;
 }
.doc-table-box .doc-type ul li{
    -webkit-user-select:none;
    -moz-user-select:none
 }

.doc-select .doc-select-input, .doc-select .doc-select-input-t {
    display: none;
}
.doc-select {
    width: 100%;
    height: 31px;
    position: relative;
    border: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.doc-select .doc-select-show .text {
    width: auto;
    display: -webkit-box;
    display: inline;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    height: 20px;
    line-height: 30px;
    padding-right: 5px;
    padding-left: 5px;
    overflow: hidden;
}


.doc-t-line .combobox{
    width: 120px;
    display: inline-block;
    border:0px;
}
.doc-t-line .combobox .input-box{
    padding: 1px 2px 0px 5px;
}
.doc-table-box .doc-t-line .combobox .input-box .value {
    line-height: 21.5px;
    word-break: unset;
    white-space: unset;
    text-overflow: unset;
}
.doc-table-box .doc-table .doc-t-line .combobox .combobox-dl {
    overflow-x: hidden;
}
.doc-table-box .doc-table .doc-t-line .combobox .input-box i.bi.bi-down {
    background: url('svg/chevron-down.svg');
    margin-top: 2px;
}
.doc-table-box .doc-table .doc-t-line i.bi.li-sort {
    background: url('svg/up-downs.svg');
}
.doc-table-box .doc-table .doc-t-line i.bi {
    vertical-align: middle;
    margin-top: -2px;
}
.doc-table-box .doc-table .doc-t-line i.bi.bi-plus,.doc-table-box .doc-table .doc-t-line i.bi.bi-x {
    display:none;
}

.tips-textarea {
    width: 302px;
    height: 400px;
}
.tips {
    position: fixed;
    background: #fff;
    left: 0;
    right: 0;
    width: 300px;
    height: 215px;
    border-radius: 5px;
    margin: 150px auto;
    padding: 10px 10px 10px 10px;
    opacity: 1;
    z-index: 9;
    display: block;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.tips-textarea .textarea {
    width: 100%;
    height: 200px;
    border: 0px solid #f4f4f4;
    border-radius: 3px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: auto;
}

.tips-textarea .btn-alter,.tips-textarea .btn-cancel {
    cursor: pointer;
    float: right;
    color: #000;
    padding-left: 10px;
}