.face {
    margin-top: 10px;
}
.face img{
    width: 30px;
    height: 30px;
    border: 1px solid #fff0;
    border-radius: 50%;
}
.user-edit img{
    border-radius: 15px;
}
.face label.active img{
    border: 1px solid #ddd;
}
.face input[type='radio']{
    display: none;
}

#split {
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 300px;
    cursor: w-resize;
    z-index: 2;
}
#split i{
    cursor: unset;
    width: 4px;
    height: 15px;
    position: relative;
    top: 50%;
    background-color: #fff0 !important;
}
#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
#container {
    position: fixed;
    left: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.item-cut{
    height: 40px;
}
.item-cut .input-box{
    height: 40px;
    padding: 10px 2px 0px 5px;
    font-size: 16px;
}
.item-cut .combobox-box .combobox-menu dd {
    position: relative;
}
.item-cut .combobox-box .combobox-menu dd .item-edit-but{
    position: absolute;
    right: 10px;
    top: 0px;
    float: right;
    padding: 5px;
    margin-top: 1px;
    display: none;
}
.item-cut .combobox-box .combobox-menu dd > a .bi:hover {
    background-color: #d9d8d8 !important;
}

/* Firefox支持 */
@-moz-document url-prefix() {
    #sidebar {
        box-shadow: -16px 0px 20px #000 !important;
    }
}

/* Chrome支持 */
body:nth-of-type(1) #sidebar {
    box-shadow: -9px 0px 20px #000;
}

#sidebar .combobox-show {
    border-top: 1px solid #fff0;
    border-right: 1px solid #fff0;
    border-left: 1px solid #fff0;
}
#sidebar .combobox-t {
    cursor: pointer;
    padding: 8px 1px 0px 5px;
}
#sidebar .combobox .combobox-box {
    border-right: 0px;
    border-bottom: 1px solid #eaeaea;
    border-left: 0px solid #fff0;
    box-shadow:0px 7px 8px 0px #00000010;
}

#sidebar .sidebar-menu .combobox-dl dd {
    position: inherit;
}
#sidebar .sidebar-menu .combobox-dl dd .option {
    position: inherit;
    right: 10px;
    top: 0px;
    float: right;
    padding: 5px;
    margin-top: -27px;
    display: none;
}
#sidebar .sidebar-menu .combobox-dl dd .option ul{
}
#sidebar .sidebar-menu .combobox-dl dd .option ul {
    position: absolute;
    left: auto;
    top: auto;
    margin-top: 20px;
    margin-left: -29px;
    display: none;
    z-index: 9999;
    font-size: 13px;
    color: #000;
    background: #fff;
    border: 0px solid #fff0;
    border-radius: 2px;
    padding: 0px 0px 0px 0px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.iframes {
    width: 100%;
    height: 100%;
    display: flex;
}
.iframes iframe {
    width: 100%;
    height: 100%;
    display: none;
}
.iframes iframe:first-child {
    display: block;
}

.tab .tab-fn:first-child >.bi:first-child{
}

#container .off-on{
    position: absolute;
    left: 5px;
    top: 2px;
    z-index: 9;
    width: 33px;
    height: 40px;
}

.dropdown-divider {
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}

i.item-edit-but ul {
    position: absolute;
    left: auto;
    top: auto;
    margin-top: 20px;
    margin-left: -27px;
    display: none;
    z-index: 9999;
    font-size: 13px;
    color: #000;
    background: #fff;
    border: 0px solid #fff0;
    border-radius: 2px;
    padding: 0px 0px 0px 0px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}