
.item-box{
    width: 90%;
    height: 100%;
    margin: 60px auto;
}
.item-box>ul{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}
.item-box>ul:first-of-type li{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.item-box>ul:first-of-type li.right{
    cursor:unset;
    text-align: right;
    padding-top: 3px;
}

.item-box>ul li.active{
    border-bottom: 2px solid #38f;
}
.item-box>ul li:hover:not('.right'){
    background: #00000003;
}
.item-box .item-view{
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.item-box .item-view .list{
    width: 210px;
    height: 50px;
    border-radius: 3px;
    margin:0px 20px 20px 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 3px 3px 10px rgba(0,0,0,.175);
    display: inline-table;
    table-layout:fixed
}
.item-box .item-view .list.item-new > div{
    width: 49%;
    line-height: 50px;
    display: inline-table;
    text-align: center;
    cursor: pointer;
}
.item-box .item-view .list.item-new > div:hover{
    background: #00000005;
}
.item-box .item-view .list .title,.item-box .item-view .list .gear,.item-box .item-view .list .else{
    display: table-cell;
}
.item-box .item-view .list .title:hover,.item-box .item-view .list .gear:hover{
    background: #00000005;
}
.item-box .item-view .list .title{
    width: 160px;
    height: 50px;
    line-height: 51px;
    text-indent: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.item-box .item-view .list .gear{
    width: 23%;
    line-height: 50px;
    text-align: center;
}
.item-box .item-view .list .else{
    display: none;
}
.item-box .item-view .list i.bi:hover{
    background-color: unset !important;
}
.item-box .item-view .list.item-new i.bi {
    margin-top: -3px;
}
.item-box .item-view.item-list .list{
    width: 100%;
}
.item-box .item-view.item-list .list.item-new{
    width: 210px;
}
.item-box .item-view.item-list .list .title{
    max-width: unset;
    display: block;
}
.item-box .item-view.item-list .list .gear{
    width: 48px;
}
.item-box .item-view.item-list .list .else{
    width: 30%;
    display: table-cell;
    text-align: right;
    padding-right: 3px;
}
.item-box .item-view.item-list .list .else i{
    margin-top: -2px;
}
.item-box .item-view.item-list .list .title:hover{
    background: none;
}
@media screen and (max-width:900px){
    .item-box .item-view.item-list .list .else{
        display: none;
    }
    .item-box .item-view.item-list .list .title{
        width: 80%;
    }
}

.paginate {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-left: 5px;
}
.paginate span {
    padding: 5px 7px 5px 7px;
    cursor: pointer;
}
.paginate span.active {
    background: #00000005;
}
.paginate span:hover {
    background: #00000005;
}
.dialog{
    top:0;
}
.doc-con {
    position: inherit;
}
.doc-con ul{
    position: absolute;
}