.login-box {
    width: 400px;
    padding: 25px 45px 10px;
    margin: 90px auto;
}
.find-box{
    margin: 0px auto;
}
.login-box ul {
    width: 100%;
    height: 30px;
}

.login-box ul li {
    border-bottom: 4px solid #eee;
    border-bottom-color: rgb(238, 238, 238);
    cursor: pointer;
    float: left;
    text-align: center;
    width: 64px;
    font-size: 16px;
    line-height: 25px;
}

.login-box ul li.active {
    border-bottom-color: #1e87f0;
}

.login-box .form > div {
    width: 100%;
    height: 100%;
    display: none;
}

.login-box .form > div:first-child {
    display: block;
}

.login-box .form {
    padding-top: 40px;
}

.login-box input {
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    text-indent: 5px;
}

.login-box .login-button {
    text-align: center;
}
.login-box .login-button input[type="submit"] {
    width: auto;
    padding: 6px 14px;
    height: auto;
    margin-right: 15px;
}

.login-box input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-top: 0px;
}

.login-box input[type="submit"] {
    background: #38f;
    border-radius: 4px;
    cursor: pointer;
    line-height: 38px;
    height: 38px;
    text-align: center;
    transition: background .2s ease;
    color: #fff;
    box-sizing: border-box;
    margin-top: 0px;
    text-indent: 0px;
}

.login-box input[type="submit"]:hover {
    background: #00b5e5;
}

.login-box .graphCap input {
    width: 55%;
}

.login-box .graphCap .captcha-img {
    width: 40%;
}

.login-box a {
    color: #00a1d6;
    text-decoration: none;
}

.checkbox-row {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px !important;
    text-align: center;
}

.checkbox-row input[type="checkbox"] {
    display: inline-block;
    margin: 1px 0 0 1px;
    vertical-align: text-top;
}

.mini-messageLink {
    float: right;
}

.captcha-img {
    vertical-align: middle;
    margin-left: 4px;
    cursor: pointer;
    width: 120px;
    height: 38px;
}

.explain {
    width: 100%;
    font-size: 12px;
    color: #99A2AA;
    margin-top: 10px;
}

.login-box input[class="register_submit"] {
    margin-top: 30px;
    margin-bottom: 0px;
}
.login-box input[class="find_submit"] {
    margin-top: 30px;
    margin-bottom: 0px;
}

.steps-box {
    width: 450px;
    margin: 120px auto 30px auto;
    display: flex;
}
.steps-icon {
    background-color: #fff;
    width: 15px;
    height: 15px;
    color: #ccd0d7;
    font-family: Arial;
    font-weight: 700;
    border-radius: 50%;
    line-height: 15px;
    border: 2px solid #ccd0d7;
    border-top-color: rgb(204, 208, 215);
    border-right-color: rgb(204, 208, 215);
    border-bottom-color: rgb(204, 208, 215);
    border-left-color: rgb(204, 208, 215);
    margin: 0 2px;
    text-align: center;
    float: left;
}
.steps-list .steps-line {
    height: 1px;
    background: #e5e9ef;
    width: 60px;
    margin-top: 11px;
}
.steps-line {
    border-top: 1px solid #e5e9ef;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.steps-title {
    font-size: 15px;
    color: #99a2aa;
    float: left;
}
.steps-box a:last-child .steps-title {
    margin-right: 0px;
}

.steps-list > .active .steps-title {
    color: #f25d8e;
}
.steps-list > .active .steps-icon {
    color: #f25d8e;
    border-color: #f25d8e;
}