.doc-head-row{
    width: 95%;
    height: 49px;
    margin: 30px auto 10px auto;
}
.doc-head-row .row .doc-select .doc-select-show .text {
    display: -webkit-box;
}
.doc-head-row .col-md-4,.doc-head-row .col-md-3{
    padding-left: 0px;
    padding-right: 25px;
}

.doc-head-row .markdown-input,.doc-head-row .markdown-input-text{
    width: 100%;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    margin-top: 1px;
}
.markdown-input-text{
    height: 30px;
    line-height: 30px;
     text-indent: 5px;
 }

.markdown-header{
    width: 95%;
    height: 100px;
    margin: 0 auto;
    padding-top: 50px;
}

.markdown-header input{
    width: 100%;
}

