body{
    text-align: center;
    padding-top: 12%;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{
    text-decoration: none;
    color: #1e87f0;
    padding-left: 30px;
    padding-right: 30px;
}