@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?55megm');
  src:  url('fonts/icon.eot?55megm#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?55megm') format('truetype'),
    url('fonts/icon.woff?55megm') format('woff'),
    url('fonts/icon.svg?55megm#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i[class^="icon-"] {
  /*width: 16px;*/
  /*height: 16px;*/
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 2px;
  font-size: 18px;
  border-radius: 3px;
  /*background: #38f;*/
}
i[class^="icon-"]:hover{
  background: #38f;
}
.icon-bar-left:before {
  content: "\e901";
}
.icon-bar-right:before {
  content: "\e902";
}
.icon-box-right:before {
  content: "\e903";
}
.icon-braces:before {
  content: "\e904";
}
.icon-catalogs-plus .path1:before {
  content: "\e905";
  color: rgb(68, 68, 68);
}
.icon-catalogs-plus .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(68, 68, 68);
}
.icon-catalogs-plus .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(68, 68, 68);
}
.icon-catalogs-plus .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-chat-dots:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-chevron-bar-contract:before {
  content: "\e90b";
}
.icon-chevron-bar-down:before {
  content: "\e90c";
}
.icon-chevron-bar-expand:before {
  content: "\e90d";
}
.icon-chevron-bar-up:before {
  content: "\e90e";
}
.icon-chevron-contract:before {
  content: "\e90f";
}
.icon-chevron-double-down:before {
  content: "\e910";
}
.icon-chevron-double-right:before {
  content: "\e911";
}
.icon-chevron-down:before {
  content: "\e912";
}
.icon-chevron-expand:before {
  content: "\e913";
}
.icon-chevron-left:before {
  content: "\e914";
}
.icon-chevron-right:before {
  content: "\e915";
}
.icon-chevron-up:before {
  content: "\e916";
}
.icon-clock:before {
  content: "\e917";
}
.icon-clock-history:before {
  content: "\e918";
}
.icon-clone:before {
  content: "\e919";
}
.icon-code:before {
  content: "\e91a";
}
.icon-controller:before {
  content: "\e91b";
}
.icon-cursor:before {
  content: "\e91c";
}
.icon-dash:before {
  content: "\e91d";
}
.icon-dot:before {
  content: "\e91e";
}
.icon-dots:before {
  content: "\e91f";
}
.icon-dots-vertical:before {
  content: "\e920";
}
.icon-download:before {
  content: "\e921";
}
.icon-downloads .path1:before {
  content: "\e922";
  color: rgb(68, 68, 68);
}
.icon-downloads .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(68, 68, 68);
}
.icon-downloads .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-drag:before {
  content: "\e925";
}
.icon-exclamation:before {
  content: "\e926";
}
.icon-exclamation-diamond:before {
  content: "\e927";
}
.icon-expand:before {
  content: "\e928";
}
.icon-eye:before {
  content: "\e929";
}
.icon-eye-slash:before {
  content: "\e92a";
}
.icon-fiddler:before {
  content: "\e92b";
}
.icon-file-earmark-minus:before {
  content: "\e92c";
}
.icon-file-earmark-plus:before {
  content: "\e92d";
}
.icon-gear:before {
  content: "\e92f";
}
.icon-gear-fill:before {
  content: "\e930";
}
.icon-grid:before {
  content: "\e931";
}
.icon-hjson .path1:before {
  content: "\e932";
  color: rgb(1, 202, 36);
}
.icon-hjson .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-house:before {
  content: "\e934";
}
.icon-info:before {
  content: "\e935";
}
.icon-info-circle:before {
  content: "\e936";
}
.icon-item:before {
  content: "\e937";
}
.icon-item-down:before {
  content: "\e938";
}
.icon-item-minus:before {
  content: "\e939";
}
.icon-item-plus:before {
  content: "\e93a";
}
.icon-justify:before {
  content: "\e93b";
}
.icon-layout-text-sidebar:before {
  content: "\e93c";
}
.icon-layout-text-sidebar-reverse:before {
  content: "\e93d";
}
.icon-link:before {
  content: "\e93e";
}
.icon-link-45deg:before {
  content: "\e93f";
}
.icon-list:before {
  content: "\e940";
}
.icon-list-nested:before {
  content: "\e941";
}
.icon-off:before {
  content: "\e942";
}
.icon-on:before {
  content: "\e943";
}
.icon-openapi:before {
  content: "\e944";
}
.icon-pencil-square:before {
  content: "\e945";
}
.icon-people:before {
  content: "\e946";
}
.icon-people-circle:before {
  content: "\e947";
}
.icon-people-fill:before {
  content: "\e948";
}
.icon-person:before {
  content: "\e949";
}
.icon-person-bounding-box:before {
  content: "\e94a";
}
.icon-person-check:before {
  content: "\e94b";
}
.icon-person-check-fill:before {
  content: "\e94c";
}
.icon-person-dash:before {
  content: "\e94d";
}
.icon-person-dash-fill:before {
  content: "\e94e";
}
.icon-person-fill:before {
  content: "\e94f";
}
.icon-person-lines-fill:before {
  content: "\e950";
}
.icon-person-plus:before {
  content: "\e951";
}
.icon-person-plus-fill:before {
  content: "\e952";
}
.icon-person-square:before {
  content: "\e953";
}
.icon-plus:before {
  content: "\e954";
}
.icon-postman .path1:before {
  content: "\e955";
  color: rgb(255, 255, 255);
}
.icon-postman .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 108, 55);
}
.icon-postman .path3:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 108, 55);
}
.icon-power:before {
  content: "\e958";
}
.icon-print:before {
  content: "\e959";
}
.icon-question:before {
  content: "\e95a";
}
.icon-question-circle:before {
  content: "\e95b";
}
.icon-refresh:before {
  content: "\e95c";
}
.icon-repeat:before {
  content: "\e95d";
}
.icon-reply:before {
  content: "\e95e";
}
.icon-search:before {
  content: "\e95f";
}
.icon-star:before {
  content: "\e960";
}
.icon-star-fill:before {
  content: "\e961";
}
.icon-swagger .path1:before {
  content: "\e962";
  color: rgb(133, 234, 45);
}
.icon-swagger .path2:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(133, 234, 45);
}
.icon-swagger .path3:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(23, 54, 71);
}
.icon-toggle-off:before {
  content: "\e965";
}
.icon-toggle-on:before {
  content: "\e966";
}
.icon-tools:before {
  content: "\e967";
}
.icon-trash:before {
  content: "\e968";
}
.icon-unfold:before {
  content: "\e969";
}
.icon-up-downs .path1:before {
  content: "\e96a";
  color: rgb(68, 68, 68);
}
.icon-up-downs .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-up-downs .path3:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-up-downs .path4:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-upload:before {
  content: "\e96e";
}
.icon-uploads:before {
  content: "\e96f";
}
.icon-view-list:before {
  content: "\e970";
}
.icon-wifi:before {
  content: "\e971";
}
.icon-x:before {
  content: "\e972";
}
.icon-yaml:before {
  content: "\e973";
  color: #7fff00;
}
